.Wrapper {
  height: 100%;
  width: 100%;
  background: url("./../public/background.png") no-repeat 100% 100%;
  background-size: cover;
}
.loginWrapper {
  display: flex;
  padding: 30px 60px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logoWrapper {
  width: 100%;
  display: flex;
}
.loginBox {
  width: 550px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 54px 64px 48px;
  background-color: #fff;
}
.forgotLink {
  color: black;
  margin-top: 8px;
  align-self: flex-end;
  font-size: 14px;
  text-decoration: none;
}
.forgotLink:hover {
  color: #344bfc;
  text-decoration: underline;
}
.loginButton {
  width: 100%;
  height: 48px;
  border: none;
  margin-top: 32px;
  outline: none;
  background: #4d61fc;
  color: #fff;
  cursor: pointer;
  padding: 14px 15px;
  font-size: 16px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.loginButton:hover {
  background: #344bfc;
}
.apierrortext {
  min-height: 28px;
  color: #c70011;
  padding: 7px 12px;
  visibility: visible;
  border-radius: 4px;
  box-sizing: border-box;
  background: #fff2f2;
  border: 1px solid #c70011;
  font: normal normal 12px/1.16 Lato, sans-serif;
}
.hide_apiErrorText{
  visibility: hidden !important;
}
/* @media screen and (min-width: 1200px) {
  .loginWrapper {
    max-width: 1272px;
  }
} */
