.Wrapper {
  height: 100%;
  width: 100%;
  padding: 30px 60px;
  box-sizing: border-box;
  background: url("./../public/background.png") no-repeat 100% 100%;
  overflow: hidden;
  background-size: cover;
}
.loginWrapper {
  display: flex;
  height: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
}
.logoWrapper {
  width: 165px;
  height: 25px;
  top: 0;
  left: 0;
  right: 0;
  padding-top: inherit;
  padding-left: inherit;
  position: absolute;
}
.loginBox {
  width: 550px;
  display: flex;
  border-radius: 8px;
  box-sizing: border-box;
  flex-direction: column;
  padding: 54px 64px 48px;
  background-color: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.forgotLink {
  color: black;
  margin-top: 8px;
  align-self: flex-end;
  font-size: 14px;
  text-decoration: none;
}
.forgotLink:hover {
  color: #344bfc;
  text-decoration: underline;
}
.loginButton {
  width: 100%;
  height: 48px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  outline: none;
  background: #4d61fc;
  color: #fff;
  cursor: pointer;
  padding: 14px 15px;
  font-size: 16px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.loginButton:hover {
  background: #344bfc;
}
.loginButton:hover:not([enabled]) {
  opacity: 0.8;
  background: #4d61fc;
}
.loginButton:disabled {
  opacity: 0.8;
}
.apierrortext {
  min-height: 28px;
  color: #c70011;
  padding: 7px 12px;
  visibility: visible;
  border-radius: 4px;
  box-sizing: border-box;
  background: #fff2f2;
  border: 1px solid #c70011;
  font: normal normal 12px/1.16 Lato, sans-serif;
}
.hide_apiErrorText {
  min-height: 28px;
  visibility: hidden !important;
}
.signupText {
  color: #414141;
  margin-top: 16px;
  text-align: center;
  font: normal normal 18px Lato, sans-serif;
}
.signupLink {
  color: #4d61fc;
  font-weight: 600;
  font-size: inherit;
  text-decoration: none;
}
.signupLink:hover {
  text-decoration: underline;
}

.loginLoader {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: spin 1.4s linear infinite;
  -webkit-animation: spin 1.4s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@media screen and (min-width: 1200px) {
  .loginWrapper {
    margin: 0 auto;
    max-width: 1272px;
  }
}
